@font-face{
	font-family: font1;
	src: url("1.ttf");
}
@font-face{
	font-family: font2;
	src: url("2.ttf");
}
@font-face{
	font-family: font3;
	src: url("3.otf");
}
body{
	background-color: #000;
	margin: 0;
}
#top-menu{
	position: sticky;
	height: 50px;
	width: 100%;
	background-color: rgba(56, 56, 64,0.8);
	overflow-y: hidden;
	min-width: 600px;
}
.top-menu-el{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	font-family: font1;
	position: relative;
}
.line{
	position: absolute;
	background-color: #ff6a13;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	transition-duration: 299ms;
	transition-property: height, opacity;
}
.top-menu-btn:hover .line{
	height: 15%;
	opacity: 1;
}
#top-menu a{
	text-decoration: none;
}
.top-menu-btn{
	color: #aaa;
	transition-duration: 299ms;
	transition-property: color;
}
.top-menu-btn:hover{
	color: #fff;
}
.top-menu-el-img{
	height: 100%;
}
.box{
	position: relative;
	left: 0;
	right: 0;
	min-width: 600px;
}
.box1-img{
	width: 100%;
}
#box1-slide1{
	display: block;
}
#box1-slide2{
	display: none;
}
.box1-slide-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	color: #fff;
	text-shadow: 0 0 20px #000;
	font-family: font1;
}
#box1-slide1-title{
	text-align: center;
}
#box1-slide2-title{
	text-align: left;
}
.slide-btn{
	background-color: #ff6a13;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	display: inline-block;
	color: #000;
	transition-duration: 200ms;
	transition-property: transform;
	font-size: 40px;
}
.slide-btn:hover{
	transform: skew(-5deg) translateX(3px);
}
.slide-btn div{
	font-family: font2;
	transition-duration: 200ms;
	transition-property: transform;
	text-shadow: 0 0 20px #000;
}
.slide-btn:hover div{
	transform: skew(5deg) translateX(5px);
}
#box2{
	background-color: #333;
}
#box2-content{
	position: relative;
	max-width: 1200px;
	margin: auto;
	top: -100px;
	text-align: center;
}
.box2-element{
	background-color: #009;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
#box2-element1{
	width: 668px;
	height: 400px;
}
#box2-element2{
	width: 500px;
	height: 400px;
}
#box2-element3{
	width: 290px;
	height: 700px;
}
#box2-element4{
	width: 290px;
	height: 700px;
}
#box2-element5{
	width: 290px;
	height: 700px;
}
#box2-element6{
	width: 290px;
	height: 700px;
}
.box2-element-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	max-width: 1200px;
	transition-duration: 200ms;
	transition-property: transform;
}
.box2-element:hover .box2-element-img{
	transform: translate(-50%,-50%) scale(1.1);
}
.wide-element .news{
	position: absolute;
	color: #fff;
	font-family: font3;
	bottom: 0;
	text-align: left;
	padding: 20px;
}
.wide-element .date{
	font-size: 15px;
	transition-duration: 200ms;
}
.wide-element .text{
	font-size: 35px;
	transition-duration: 250ms;
}
.wide-element .fone{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
	transition-duration: 200ms;
}
.wide-element:hover .fone{
	transform: translateY(100%);
}
.wide-element:hover .date{
	transform: translateY(-20px);
	text-shadow: 0 0 10px #00f;
}
.wide-element:hover .text{
	transform: translateY(-20px);
	text-shadow: 0 0 25px #000;
}
.tall-element .news{
	position: absolute;
	bottom: 0;
	background-color: #333;
	padding: 20px;
	left: 0;
	right: 0;
	color: #fff;
	text-align: left;
	font-family: font3;
}
.tall-element .date{
	font-size: 15px;
	color: #00f;
	text-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.tall-element .text{
	font-size: 30px;
}
#footer{
	padding: 50px;
	background-color: #141414;
	font-size: 25px;
	min-width: 500px;
}
#footer a{
	text-decoration: none;
	color: #aaa;
}
.soc-nets{
	height: 50px;
	transition-duration: 200ms;
}
.soc-nets:hover{
	transform: scale(1.05);
}
#footer .f-text-link{
	margin-right: 70px;
}
#footer .f-text-link:hover{
	text-decoration: underline;
	color: #fff;
}
#from-f-to-top{
	position: absolute;
	right: 50px;
	top: 50px;
	height: 40px;
	width: 40px;
	border: solid 5px #aaa;
	border-radius: 10px;
	transition-duration: 200ms;
	transition-property: border-color;
}
#from-f-to-top:hover{
	border-color: #ff6a13;
}
#from-f-to-top .line{
	width: 15px;
	height: 5px;
	border-radius: 3px;
	background-color: #aaa;
	opacity: 1;
	top: 50%;
	transition-duration: 200ms;
	transition-property: background-color;
}
#from-f-to-top .left-line{
	left: 40%;
	transform: translate(-50%,-50%) rotate(-40deg);
}
#from-f-to-top .right-line{
	left: 60%;
	transform: translate(-50%,-50%) rotate(40deg);
}
#from-f-to-top:hover .line{
	background-color: #ff6a13;
}
#box3{
	text-align: center;
}
#box3 .text{
	position: absolute;
	width: 100%;
	font-family: font3;
	color: #fff;
	text-shadow: 0 0 20px #ff6a13;
}
#box3 .text1{
	font-size: 40px;
}
#box3 .text2{
	font-size: 60px;
	margin-top: -30px;
}
#box3 .text3{
	font-size: 55px;
	margin-top: -15px;
}
#box3-btn{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
#box3-btn:hover{
	transform: translate(-50%,-50%) skew(-5deg) translateX(3px);
}
.box3-img{
	width: 100%;
}
#box3 audio{
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media(max-width: 1200px){
	#box2-element1{
		width: 100%;
	}
	#box2-element2{
		width: 100%;
	}
	#box3 audio{
		top: 250px;
	}
	#box3 .text2{
		margin-top: -60px;
	}
	#box3 .text3{
		margin-top: -65px;
	}
}
@media(max-width: 850px){
	.box1-slide-title{
		top: 10px;
		transform: translate(-50%, 0);
	}
}
@media(max-width: 760px){
	#box3 .text{
		display: none;
	}
	#box3 audio{
		top: 100px;
		transform: translate(-50%, 0);
	}
	#footer{
		text-align: center;
	}
}
@media(max-width: 680px){
	.box1-slide-title{
		font-size: 0;
	}
}