body{
	margin: 0;
	background-color: #222;
	padding-top: 60px;
}
#top-menu{
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #000;
	z-index: 10000;
	overflow: hidden;
}
.top-menu-btn{
	position: relative;
	display: inline-block;
	height: 40px;
	color: white;
	font-size: 35px;
	padding: 10px;
}
.vec{
	height: 50%;
	display: inline-block;
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .vec{
	transform: rotateX(180deg);
}
.box{
	position: relative;
	width: 100%;
}
#ad-box{
	height: 200px;
	background-image: linear-gradient(to right,#111,#888);
	overflow: hidden;
}
#ad-box-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
}
#ad-box-btn{
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border: solid #fff 3px;
	border-radius: 5px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000 inset;
	transition-duration: 200ms;
	transition-property: padding;
}
#ad-box-btn:hover{
	padding: 25px;
}
#ad-box-text{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	max-width: 40%;
	color: #fff;
	font-size: 35px;
	text-shadow: 0 0 10px #000;
}
#box1-img{
	width: 100%;
}
#box1-title{
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50%,-50%);
	min-width: 40%;
	max-width: 50%;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
#box1-title a{
	text-decoration: none;
}
#box1-title b{
	font-size: 50px;
}