body{
	margin: 0;
	padding-top: 60px;
	background-color: #333;
}
#top-menu{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #000;
	top: 0;
	z-index: 10000;
}
#top-menu-dots{
	position: absolute;
	height: 60px;
	width: 60px;
	transition-duration: 200ms;
}
#dots{
	width: 10px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition-duration: 200ms;
}
.dot{
	position: absolute;
	background-color: #fff;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}
#dot1{
	top: 0;
}
#dot2{
	top: 15px;
}
#dot3{
	bottom: 0;
}
#top-menu-dots:hover #dots{
	transform: translate(-50%,-50%) scale(1.2);
}
#top-menu-dots:hover #dots .dot{
	background-color: #fdd;
	box-shadow: 0 0 10px #f00;
}
#top-menu-dots:hover{
	background-color: #222;
}
#top-menu-logo{
	height: 100%;
	overflow-y: hidden;
	position: absolute;
	left: 60px;
	transition-duration: 200ms;
	transition-property: box-shadow;
}
#top-menu-logo-img{
	height: 100%;
}
.top-menu-btn{
	position: relative;
	display: inline-block;
	padding: 10px;
	height: 40px;
	color: #fff;
	font-size: 35px;
	left: 250px;
}
.vec{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	transition-duration: 200ms;
}
.top-menu-btn:hover .vec{
	transform: rotateX(180deg);
}
.top-menu-btn:hover{
	color: #fdd;
	text-shadow: 0 0 7px #f00;
}
.box{
	position: relative;
	width: 100%;
}
#box1-img{
	position: relative;
	width: 100%;
	margin-bottom: -5px;
}
#box1-title{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 75%;
	font-size: 35px;
	color: #fff;
	text-shadow: 0 0 7px #000;
	text-align: center;
}
#box1-title a{
	text-decoration: none;
}
.box1-title-btn{
	display: inline-block;
}
.simple-border-btn{
	color: #fff;
	border-radius: 4px;
	border: solid 3px #fff;
	padding: 10px;
	margin: 10px;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
	transition-duration: 200ms;
	transition-property: margin, padding;
}
.simple-border-btn:hover{
	margin: 5px;
	padding: 15px;
}
.solid-gold-btn{
	color: #fff;
	border-radius: 4px;
	border: solid 3px #974;
	padding: 10px;
	margin: 10px;
	background-color: #974;
	text-shadow: 0 0 10px #000;
	transition-duration: 200ms;
	transition-property: margin, padding;
}
.solid-gold-btn:hover{
	margin: 5px;
	padding: 15px;
}
#box2-title a{
	text-decoration: none;
}
#box2-img{
	width: 100%;
	margin-bottom: -5px;
}
#box2-title{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 50px;
	color: #fff;
}
#box2-title-img{
	width: 250px;
}
#top-menu-logo:hover{
	box-shadow: 0 0 30px #500 inset;
}
.middle{
	height: 5px;
	width: 100%;
	background: linear-gradient(to right, #974, #222, #300);
}
#box4{
	height: 600px;
	overflow: hidden;
}
#box4-img{
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#box4-title{
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	text-shadow: 0 0 5px #000;
	font-size: 30px;
}
#box4-title a{
	text-decoration: none;
}
#box4-title b{
	font-size: 50px;
}
.box4-title-btn{
	display: inline-block;
}
#box4-right{
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	right: 10%;
}
#box4-right-img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#box4-logos{
	position: absolute;
	width: 10%;
	height: 100%;
	right: 0;
}
#box4-logo1{
	position: relative;
	top: 5%;
	width: 100%;
}
#box4-logo2{
	transform: rotate(90deg) scale(2);
	position: relative;
	top: 30%;
	width: 100%;
}
#box5{
	background-color: #aaa;
	height: 1000px;
	text-align: center;
}
#cards{
	display: inline-block;
}
.card{
	position: relative;
	display: inline-block;
	background-color: #222;
	height: 700px;
	width: 400px;
	padding: 50px;
	top: 100px;
	color: #fff;
	font-size: 30px;
}
.card a{
	text-decoration: none;
}
.card-btn{
	display: inline-block;
}