.main{
	height: 200px;
	width: 300px;
	background-color: #000066;
	color: #fff;
	text-align: center;
	margin: 10px;
	border: solid #ff0000 3px;
	border-radius: 20px;
	overflow: hidden;
}

.in{
	height: 50px;
	width: 100%;
	background-color: #004400;
	position: relative;
	top: 100%;
	transition-duration: 1s;
	font-size: 40px;
	color: #ff0000;
	font-family: fantasy;
}

.main:hover .in{
	transform: translate(0,-100%);
}

body{
	background-color: #000;
	background-image: url(wall.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
