body{
	margin: 0;
	display: flex;
	justify-content: center;
	padding-top: 52px;
}
#content{
	width: 588px;
	border-right: solid #ff0000 2px; 
	border-left: solid #ff0000 2px;
}
#top-menu{
	height: 50px;
	width: 100%;
	background-color: #333;
	border-bottom: solid #000 2px;
	position: fixed;
	top: 0;
	left: 0;
}
#logo{
	height: 252px;
	width: 588px;
	background-image: url(https://cs7.pikabu.ru/post_img/big/2017/12/14/6/1513242462152188776.jpg);
	background-size: 100%;
}
#buttons{
	width: 588px;
	height: 100px;
	background-color: #aaa;
	display: flex;
	justify-content: center;
}
#buttons a{
	color: #fff;
	text-decoration: none;
}
.button{
	width: 188px;
	height: 92px;
	text-align: center;
}
.btn1{
	background-color: #550000;
	border: inset #ff0000 4px;
}
.btn2{
	background-color: #005500;
	border: inset #00ff00 4px;
}
.btn3{
	background-color: #000055;
	border: inset #0000ff 4px;
}
#top-menu-gif{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 200%;
	border-radius: 50%;
}